/* Style Sheet for thwe.index.html */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');

/* RESET STYLESHEET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.thwe { 
    position: relative;
    bottom: 15px;
    width: 35%;
}
 .pow {
    width: 100%;
    position: relative;
    left: -0.7%;
    top: 75px;
    opacity: 70%;
 } 
 header {
    background-color: rgba(192, 153, 199, 80%);
    height: 80px;
}

li {
    position: relative;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 3%;
} 

.gallery {
    color:rgb(154, 40, 137);
    font-size: 13px;
    position: absolute;
    top: 9%;
    left: 30%;
    font-family: 'Abril Fatface', serif;
}

main {
    background-color: rgba(244, 155, 222, 50%);
    height: 1930px;
}
label {
    font-size: 2rem;
    color:rgb(154, 40, 137);
    position: relative;
    left: 55%;
    bottom: 95%;
    cursor: pointer;
}

#hamburger {
    display: none;
}

#hamburger:checked~nav {              
    display: block;
}

nav {
    font-family: 'Abril Fatface', serif;
    color:rgb(154, 40, 137);
    height: 150%;
    width: 20%;
    position: relative;
    left: 79.7%;
    bottom: 77%;
    display: none;
}

ul {
    list-style-type: none;
    background-color: rgba(192, 153, 199, 80%);
}

ul li a {
    color:rgb(154, 40, 137);
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
    left: 15%;
}
nav ul li a:hover {
    color: rgb(192, 153, 199);
}

h1 {
    color:rgb(154, 40, 137);
    position: absolute;
    top: 95%;
    left: 40%;
    font-size: 25px;
 }
.type {
    width: 30%;
    position: relative;
    bottom: 1590px;
    left: 15%;
 }
.monster {
    width: 30%;
    position: relative;
    bottom: 1555px;
    left: 15%;
 }
.ggirl {
    width: 30%;
    position: relative;
    bottom: 980px;
    left: 15%;
 }
.bt {
    width: 30%;
    position: relative;
    bottom: 1930px;
    left: 55%;
 }
.view {
    width: 30%;
    position: relative;
    bottom: 1900px;
    left: 55%;
 }
.gwm {
    width: 30%;
    position: relative;
    bottom: 1870px;
    left: 55%;
}
.bc {
    width: 30%;
    position: relative;
    bottom: 1850px;
    left: 55%;
}

button {
    background-color: rgb(245, 161, 159);
    padding: .6%;
    position: relative;
    left: 40%;
    bottom: 130px;
    color: rgb(154, 40, 137);
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Abril Fatface', serif;
}

.contact {
    position: relative;
    bottom: 80px;
    left: 22.5%;
}

.bg {
    opacity: 25%;
    position: relative;
    bottom: 1760px;
    width: 100%;
    height: 700px;
}
h2 {
    position: absolute;
    top: 228%;
    left: 40%;
    color:rgb(154, 40, 137);
    font-size: 25px;
}

.ab{
    position: relative;
    bottom: 2420px;
    color:rgb(154, 40, 137);
    font-family: 'Abhaya Libre', serif;
    font-size: 15px;
    padding: 1.5%;
    text-align: center;
}
h3 {
    position: absolute;
    top: 258%;
    left: 42%;
    color:rgb(154, 40, 137);
    font-size: 25px;
}

.mail {
    position: absolute;
    top: 265%;
    left: 30%;
    color:rgb(154, 40, 137);
    font-size: 15px;
}

.phone {
    position: absolute;
    top: 270%;
    left: 33%;
    color:rgb(154, 40, 137);
    font-size: 15px;
}

.web {
    position: absolute;
    top: 275%;
    left: 28%;
    color:rgb(154, 40, 137);
    font-size: 15px;
}

.let {
    position: absolute;
    top: 10%;
    left: 30%;
    color:rgb(154, 40, 137);
    font-size: 15px;
}

.btn {
    position: relative;
    top: 120px;
    font-family: 'Abril Fatface', serif;
    background-color: rgb(154, 40, 137);
    border-radius: 10%;
    color: rgb(212, 150, 245);
    left: 117px;
    width: 20%;
    height: 10%;
    text-align: center;
}

input {
    background-color:  rgba(255, 255, 255, 0%);
    border-width: 0;
    border-bottom: 1px solid rgb(154, 40, 137);
    color: rgb(154, 40, 137);
    position:relative;
    top: 80px;
    left: 52px;
    font-size: 12px;
    width: 65%;
    padding: 4%;
    font-family: 'Abhaya Libre', serif;
}

.forms-main {
    background-color: rgba(212, 150, 245, 50%);
    border-radius: 5%;
    font-family: 'Abril Fatface', serif;
    width: 60%;
    height: 300px;
    position: relative;
    bottom: 2250px;
    left: 95px;
}

.fa-instagram {
    position: relative;
    left:48%;
    top: 80%;
    color:rgb(154, 40, 137);
    font-size: 1.7rem;
}

footer {
    background-color: rgba(192, 153, 199, 80%);
    height: 35px;
    font-family: 'Abril Fatface', serif;
    font-size: 12px;
    text-align: center;
    color: rgb(154, 40, 137);
    position: relative;
    bottom: 2238px;
    
}
.foot {
    position: absolute;
    top: 30%;
    right: 7%;
    color: rgb(154, 40, 137);
    bottom: -8px;
    left: 10px;
}

/* Typeface */
.modishmain {
    height: 1000px;
}
.typeface {
    color: rgb(154, 40, 137);
    font-family: 'Abril Fatface', serif;
    font-size: 30px;
    position: absolute;
    top: 19%;
    left: 40%;
}
.typefaceimgs {
        width: 250px;
        position: relative;
        top: 120px;
        left: 115px;
}
.modish {
    width: 250px;
    position: relative;
    top: 150px;
    left: 115px;
}
.typefacepara {
    color: rgb(154, 40, 137);
    padding: 4%;
    font-family: 'Abhaya Libre', serif;
    font-size: 22px;
    position: relative;
    text-align: center;
    top: 17%;
}
.typefooter {
    background-color: rgba(192, 153, 199, 80%);
    height: 30px;
    font-family: 'Abril Fatface', serif;
    font-size: 12px;
    text-align: center;
    color: rgb(154, 40, 137);
    position: relative;
    bottom: 1px;
    
}
.typefoot {
    position: absolute;
    top: 30%;
    right: 7%;
    color: rgb(154, 40, 137);
    bottom: -8px;
    left: 10px;
}

/* Monster */
.monstermain {
    height: 500px;
}
.monsterh {
    color: rgb(154, 40, 137);
    font-family: 'Abril Fatface', serif;
    font-size: 30px;
    position: absolute;
    top: 19%;
    left: 40%;
}
.monsterimgs {
        width: 250px;
        position: relative;
        top: 110px;
        left: 115px;
}
.monsterpara {
    color: rgb(154, 40, 137);
    padding: 4%;
    font-family: 'Abhaya Libre', serif;
    font-size: 20px;
    position: relative;
    text-align: center;
    top: 25%;
}
.monstafooter {
    background-color: rgba(192, 153, 199, 80%);
    height: 30px;
    font-family: 'Abril Fatface', serif;
    font-size: 12px;
    text-align: center;
    color: rgb(154, 40, 137);
    position: relative;
    bottom: 1px;
    
}
.monstafoot {
    position: absolute;
    top: 30%;
    right: 7%;
    color: rgb(154, 40, 137);
    bottom: -8px;
    left: 10px;
}

/* GoodGirl */
.redesignmain {
    height: 700px;
}
.redesign {
    color: rgb(154, 40, 137);
    font-family: 'Abril Fatface', serif;
    font-size: 20px;
    position: absolute;
    top: 22%;
    left: 25%;
}
.redesignimgs {
        width: 210px;
        position: relative;
        top: 300px;
        left: 250px;
}
.ggimgs {
    width: 210px;
    position: relative;
    bottom: 150px;
    left: 25px;
}
.redesignpara {
    color: rgb(154, 40, 137);
    padding: 4%;
    font-family: 'Abhaya Libre', serif;
    font-size: 15px;
    position: relative;
    text-align: center;
    top: 14%;
}
.redesignfooter {
    background-color: rgba(192, 153, 199, 80%);
    height: 30px;
    font-family: 'Abril Fatface', serif;
    font-size: 12px;
    text-align: center;
    color: rgb(154, 40, 137);
    position: relative;
    bottom: 1px;
    
}
.redesignfoot {
    position: absolute;
    top: 30%;
    right: 7%;
    color: rgb(154, 40, 137);
    top: 5px;
    left: 10px;
}

@media screen and (min-width: 720px) {

.thwe { 
    position: relative;
    bottom: 60px;
    left: 100px;
    width: 25%;
}
header {
    background-color: rgba(192, 153, 199, 80%);
    height: 110px;
}

.gallery {
        color:rgb(154, 40, 137);
        font-size: 20px;
        position: absolute;
        top: 11%;
        left: 29%;
        font-family: 'Abril Fatface', serif;
    }
    label {
        display: none;
    }
    nav {
            font-family: 'Abril Fatface', serif;
            color:rgb(154, 40, 137);
            width: 50%;
            position: relative;
            left: 50%;
            bottom: 190%;
            display: block;
        }
        
        ul li a {
            color:rgb(154, 40, 137);
            text-decoration: none;
            font-size: 1.3rem;
            position: relative;
            float: left;
            list-style-type: none;
            padding: 3%;
        }
        nav ul li a:hover {
            color: rgb(192, 153, 199);
        }
        .active-page {
            color: rgb(192, 50, 220);
        }
        #hamburger {
            display: none;
        }
    .art {
        position: absolute;
        left: 50%;
    }

    .pow {
        width: 80%;
        height: 600px;
        position: relative;
        left: 10%;
        top: -170px;
        opacity: 70%;
     } 
 
     h1 {
        color:rgb(154, 40, 137);
        position: absolute;
        left: 44%;
        top: 132%;
        font-size: 40px;
     }
    .type {
        width: 20%;
        position: relative;
        bottom: 2790px;
        left: 22%;
     }
    .monster {
        width: 20%;
        position: relative;
        bottom: 2760px;
        left: 22%;
     }
     .ggirl {
        width: 20%;
        position: relative;
        bottom: 1810px;
        left: 22%;
     }
     .bt {
        width: 20%;
        position: relative;
        bottom: 3370px;
        left: 55%;
     }
     .view {
        width: 20%;
        position: relative;
        bottom: 3350px;
        left: 55%;
     }
    .gwm {
        width: 20%;
        position: relative;
        bottom: 3330px;
        left: 55%;
    }
    .bc {
        width: 20%;
        position: relative;
        bottom: 3310px;
        left: 55%;
    }

    main {
        background-color: rgba(244, 155, 222, 50%);
        height: 3200px;
    }
    button {
        background-color: rgb(245, 161, 159);
        padding: .6%;
        position: relative;
        left: 44.5%;
        bottom: 550px;
        color: rgb(154, 40, 137);
        border-radius: 10px;
        font-size: 30px;
        font-family: 'Abril Fatface', serif;
    }
    .contact {
        position: relative;
        bottom: 450px;
        left: 33.8%;
    }

    h2 {
        position: absolute;
        top: 329%;
        left: 44%;
        color:rgb(154, 40, 137);
        font-size: 40px;
    }
    
    .ab{
        position: relative;
        bottom: 4570px;
        color:rgb(154, 40, 137);
        font-family: 'Abhaya Libre', serif;
        font-size: 20px;
        padding: 1.5%;
        text-align: center;
    }
    
    .bg {
        opacity: 25%;
        position: relative;
        bottom: 3240px;
        width: 100%;
        height: 1420px;
    }
    
    h3 {
        position: absolute;
        top: 365%;
        left: 45%;
        color:rgb(154, 40, 137);
        font-size: 40px;
    }
    
    .mail {
        position: absolute;
        top: 380%;
        left: 40%;
        color:rgb(154, 40, 137);
        font-size: 20px;
    }
    
    .phone {
        position: absolute;
        top: 390%;
        left: 42%;
        color:rgb(154, 40, 137);
        font-size: 20px;
    }
    
    .web {
        position: absolute;
        top: 400%;
        left: 39%;
        color:rgb(154, 40, 137);
        font-size: 20px;
    }
    .fa-instagram {
        position: relative;
        left:50%;
        top: 73%;
        color:rgb(154, 40, 137);
        font-size: 2.5rem;
    }
    .let {
        position: absolute;
        top: 10%;
        left: 30%;
        color:rgb(154, 40, 137);
        font-size: 40px;
    }
    
    .btn {
        position:relative;
        top: 210px;
        font-family: 'Abril Fatface', serif;
        font-size: 20px;
        background-color: rgb(154, 40, 137);
        border-radius: 10%;
        color: rgb(212, 150, 245);
        left: 300px;
        width: 20%;
        height: 14%;
    }
    
    input {
        background-color:  rgba(255, 255, 255, 0%);
        border-width: 0;
        border-bottom: 1px solid rgb(154, 40, 137);
        color: rgb(154, 40, 137);
        position:relative;
        top: 150px;
        left: 110px;
        font-size: 20px;
        width: 70%;
        padding: 4%;
        font-family: 'Abhaya Libre', serif;
    }
    
    .forms-main {
        background-color: rgba(212, 150, 245, 50%);
        border-radius: 5%;
        font-family: 'Abril Fatface', serif;
        width: 60%;
        height: 600px;
        position: relative;
        bottom: 4100px;
        left: 250px;
    }
    
    /*i {
        position: absolute;
        right:48%;
        top: 422%;
        color:rgb(154, 40, 137);
        font-size: 3rem;
    }*/
    footer {
        background-color: rgba(192, 153, 199, 80%);
        height: 50px;
        font-family: 'Abril Fatface', serif;
        font-size: 12px;
        text-align: center;
        color: rgb(154, 40, 137);
        position: relative;
        bottom: 4000px;
    }
    .foot {
        position: absolute;
        color: rgb(154, 40, 137);
        top: 35%;
        left: 30px;
    }
/* Typeface */

.modishmain {
    height: 1000px;
}

.typeface {
    color: rgb(154, 40, 137);
    font-family: 'Abril Fatface', serif;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 64%;
}
.typefaceimgs {
        width: 400px;
        position: relative;
        top: 90px;
        left: -20%;
}
.modish {
    width: 350px;
    position: relative;
    top: -100px;
    left: 720px;
}
.typefacepara {
    color: rgb(154, 40, 137);
    padding: 4%;
    font-family: 'Abhaya Libre', serif;
    font-size: 24px;
    position: relative;
    text-align: center;
    top: -350px;
    left: 200px;
    width: 30%;
}
.typefooter {
    background-color: rgba(192, 153, 199, 80%);
    height: 40px;
    font-family: 'Abril Fatface', serif;
    font-size: 12px;
    text-align: center;
    color: rgb(154, 40, 137);
    position: relative;
    bottom: 1px;
    
}
.typefoot {
    position: absolute;
    top: 30%;
    right: 7%;
    color: rgb(154, 40, 137);
    bottom: -8px;
    left: 10px;
}
    
/* Monster */
.monstermain {
    height: 700px;
}
.monsterh {
    color: rgb(154, 40, 137);
    font-family: 'Abril Fatface', serif;
    font-size: 40px;
    position: absolute;
    top: 25%;
    left: 45%;
}
.monsterimgs {
        width: 400px;
        position: relative;
        top: 130px;
        left: 10px;
}
.monsterpara {
    color: rgb(154, 40, 137);
    padding: 4%;
    font-family: 'Abhaya Libre', serif;
    font-size: 22px;
    position: relative;
    text-align: center;
    top: 20%;
}
.monstafooter {
    background-color: rgba(192, 153, 199, 80%);
    height: 30px;
    font-family: 'Abril Fatface', serif;
    font-size: 12px;
    text-align: center;
    color: rgb(154, 40, 137);
    position: relative;
    bottom: 1px;
    
}
.monstafoot {
    position: absolute;
    top: 30%;
    right: 2%;
    color: rgb(154, 40, 137);
    bottom: -8px;
    left: 10px;
}

/* GoodGirl */
.redesignmain {
    height: 700px;
}
.redesign {
    color: rgb(154, 40, 137);
    font-family: 'Abril Fatface', serif;
    font-size: 30px;
    position: absolute;
    top: 45%;
    left: 54%;
}
.redesignimgs {
        width: 300px;
        position: relative;
        top: 270px;
        left: 290px;
}
.ggimgs {
        width: 300px;
        position: relative;
        bottom: 300px;
        left: 250px;
}
.redesignpara {
    color: rgb(154, 40, 137);
    padding: 4%;
    font-family: 'Abhaya Libre', serif;
    font-size: 20px;
    position: relative;
    left: 10%;
    text-align: center;
    top: -250px;
    width: 40%;
}
.redesignfooter {
    background-color: rgba(192, 153, 199, 80%);
    height: 30px;
    font-family: 'Abril Fatface', serif;
    font-size: 12px;
    text-align: center;
    color: rgb(154, 40, 137);
    position: relative;
}
.redesignfoot {
    position: absolute;
    top: 30%;
    right: 7%;
    color: rgb(154, 40, 137);
    left: 10px;
}

}
