/* Style Sheet for thwe.index.html */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* RESET STYLESHEET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.thwe { 
    position: relative;
    bottom: 15px;
    width: 30%;
}
 .pow {
    width: 100%;
    position: relative;
    left: -0.7%;
    top: 100px;
    opacity: 70%;
 } 

h1 {
    color:rgb(154, 40, 137);
    position: absolute;
    left: 42%;
    top: 550px;
    font-size: 20px;
 }
 .type {
    width: 30%;
    position: absolute;
    top: 115%;
    left: 15%;
 }
 .monster {
    width: 30%;
    position: absolute;
    top: 155%;
    left: 15%;
 }
 .ggirl {
    width: 30%;
    position: absolute;
    top: 188%;
    left: 15%;
 }
 .bt {
    width: 30%;
    position: absolute;
    top: 115%;
    left: 55%;
 }
 .view {
    width: 30%;
    position: absolute;
    top: 138%;
    left: 55%;
 }
.gwm {
    width: 30%;
    position: absolute;
    top: 163%;
    left: 55%;
}
.bc {
    width: 30%;
    position: absolute;
    top: 188%;
    left: 55%;
}
header {
    background-color: rgba(192, 153, 199, 80%);
    height: 80px;
}

label {
    font-size: 2rem;
    color:rgb(154, 40, 137);
    position: relative;
    left: 57%;
    bottom: 80%;
    cursor: pointer;
}

input {
    position: relative;
    left: 57%;
    bottom: 90%;
}

li {
    position: relative;
    left: 85%;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 3%;
}

p {
    color:rgb(154, 40, 137);
    font-size: 15px;
    position: relative;
    bottom: 260%;
    left: 130px;
    font-family: 'Abril Fatface', serif;
}

main {
    background-color: rgba(244, 155, 222, 50%);
    height: 2000px;
}

#hamburger {
    display: none;
}

#hamburger:checked~nav {              
    display: block;
}

nav {
    font-family: 'Abril Fatface', serif;
    color:rgb(154, 40, 137);
    height: 150%;
    width: 20%;
    position: relative;
    left: 386px;
    bottom: 44px;
    display: none;
}

ul {
    list-style-type: none;
    
}

ul li a {
    color:rgb(154, 40, 137);
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    position: relative;
    right: 80%;
}
button {
    background-color: rgb(245, 161, 159);
    padding: .6%;
    position: relative;
    left: 40%;
    bottom: 80px;
    color: rgb(154, 40, 137);
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Abril Fatface', serif;
}

.contact {
    position: relative;
    bottom: 30px;
    left: 22%;
}

@media screen and (min-width: 720px) {
    .thwe { 
        position: absolute;
        left: 100px;
        bottom: 370px;
        width: 25%;
}
    header {
        background-color: rgba(192, 153, 199, 80%);
        height: 110px;
    }

    p {
        color:rgb(154, 40, 137);
        font-size: 20px;
        position: relative;
        bottom: 130%;
        left: 370px;
        font-family: 'Abril Fatface', serif;
    }

    .art {
        position: absolute;
        left: 50%;
    }
    .pow {
        width: 80%;
        height: 500px;
        position: relative;
        left: 10%;
        top: 15px;
        opacity: 70%;
     } 
     h1 {
        color:rgb(154, 40, 137);
        position: absolute;
        left: 44%;
        top: 715px;
        font-size: 40px;
     }
     .type {
        width: 20%;
        position: absolute;
        top: 145%;
        left: 22%;
     }
     .monster {
        width: 20%;
        position: absolute;
        top: 210%;
        left: 22%;
     }
     .ggirl {
        width: 20%;
        position: absolute;
        top: 265%;
        left: 22%;
     }
     .bt {
        width: 20%;
        position: absolute;
        top: 145%;
        left: 55%;
     }
     .view {
        width: 20%;
        position: absolute;
        top: 182%;
        left: 55%;
     }
    .gwm {
        width: 20%;
        position: absolute;
        top: 223%;
        left: 55%;
    }
    .bc {
        width: 20%;
        position: absolute;
        top: 265%;
        left: 55%;
    }
     main {
        background-color: rgba(244, 155, 222, 50%);
        height: 3000px;
    }
    button {
        background-color: rgb(245, 161, 159);
        padding: .6%;
        position: relative;
        left: 45%;
        bottom: 270px;
        color: rgb(154, 40, 137);
        border-radius: 10px;
        font-size: 30px;
        font-family: 'Abril Fatface', serif;
    }
    .contact {
        position: relative;
        bottom: 200px;
        left: 34%;
    }

    nav {
        font-family: 'Abril Fatface', serif;
        color:rgb(154, 40, 137);
        width: 50%;
        position: relative;
        left: 55%;
        top: 12px;
    }
    
    ul li a {
        color:rgb(154, 40, 137);
        text-decoration: none;
        font-size: 1.3rem;
        position: relative;
        float: left;
        list-style-type: none;
        padding: 2.5%;
    }
    
}
